@use '../../../../shared/variables' as *;

.CommandList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: 1px solid #ddd;
  border-radius: 0.25em;

  .commands-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .command-actions {
    display: flex;
    justify-content: flex-start;
    padding: 0.5em;
    padding-top: 0;
  }
}
