@use '../../shared/variables' as *;

.Checkbox {
  display: flex;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
  user-select: none;

  .input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .mark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid $border-color;
    border-radius: 0.3em;
    transition: all 0.2s;
    flex-shrink: 0;

    &::after {
      content: '';
      width: 0.6em;
      height: 0.4em;
      border: solid white;
      border-width: 0 0 2px 2px;
      transform: rotate(-45deg);
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  .label {
    font-size: 0.95em;
    color: $text-dark;
  }

  .input:checked + .mark {
    background-color: $primary-color;
    border-color: $primary-color;

    &::after {
      opacity: 1;
    }
  }

  .input:disabled + .mark {
    background-color: $disabled-bg;
    border-color: $border-color;
    cursor: not-allowed;
  }

  &:has(.input:disabled) {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
