@keyframes spinner-bounce {
  0%, 80%, 100% {
    opacity: 0.3;
    transform: scale(0.8);
  }

  40% {
    opacity: 1;
    transform: scale(1);
  }
}

.Spinner {
  display: inline-flex;
  gap: 0.4em;
  align-items: center;

  .dot {
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background-color: currentColor;
    animation: spinner-bounce 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -0.32s;
    }

    &:nth-child(2) {
      animation-delay: -0.16s;
    }

    &:nth-child(3) {
      animation-delay: 0s;
    }
  }

  &.sm {
    gap: 0.3em;

    .dot {
      width: 0.4em;
      height: 0.4em;
    }
  }

  &.lg {
    gap: 0.6em;

    .dot {
      width: 0.9em;
      height: 0.9em;
    }
  }
}
