@use '../../../shared/variables' as *;

.RepositoryForm {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .actions {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid $border-color;
  }
}
