@use '../../../../shared/variables' as *;

.CommandEditor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .editor-modal {
    position: relative;
    background: white;
    border-radius: 0.5em;
    padding: 1.5em;
    max-width: 30em;
    width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    h4 {
      margin: 0 0 1em;
      font-size: 1.125em;
      color: $text-dark;
    }

    .editor-content {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-bottom: 1.5em;

      label {
        font-weight: 500;
        color: $text-dark;
        font-size: 0.875em;
      }
    }

    .editor-actions {
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      padding-top: 1em;
      border-top: 1px solid $border-color;
    }
  }
}
