@use '../../shared/variables' as *;

.Alert {
  position: relative;
  padding: 1em 1.2em;
  border-radius: 0.4em;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  border-left: 4px solid;

  &.success {
    background-color: rgba($success-color, 0.1);
    border-color: $success-color;
    color: $success-color;
  }

  &.error {
    background-color: rgba($error-color, 0.1);
    border-color: $error-color;
    color: $error-color;
  }

  &.warning {
    background-color: rgba($warning-color, 0.1);
    border-color: $warning-color;
    color: $warning-color;
  }

  &.info {
    background-color: rgba($info-color, 0.1);
    border-color: $info-color;
    color: $info-color;
  }

  .close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    flex: 1;
  }

  .title {
    margin: 0 0 0.5em 0;
    font-size: 0.95em;
    font-weight: 600;
  }

  .message {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.5;
  }
}
