@use '../../shared/variables' as *;

.Select {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .label {
    font-size: 0.95em;
    font-weight: 500;
    color: $text-dark;
  }

  .field {
    padding: 0.75em;
    font-size: 0.95em;
    border: 1px solid $border-color;
    border-radius: 0.4em;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.2s;
    appearance: none;
    padding-right: 2.5em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23333' d='M7 8l3 3 3-3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em;

    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, 0.1);
    }

    &:disabled {
      background-color: $disabled-bg;
      cursor: not-allowed;
      opacity: 0.6;
    }

    &.error {
      border-color: $error-color;

      &:focus {
        box-shadow: 0 0 0 2px rgba($error-color, 0.1);
      }
    }
  }

  .error-message {
    font-size: 0.85em;
    color: $error-color;
  }

  // Size variations
  &.sm {
    .label {
      font-size: 0.85em;
    }

    .field {
      padding: 0.5em 0.75em;
      font-size: 0.85em;
      padding-right: 2em;
      background-size: 0.8em;
      background-position: right 0.5em center;
    }
  }

  &.md {
    .label {
      font-size: 0.95em;
    }

    .field {
      padding: 0.75em;
      font-size: 0.95em;
      padding-right: 2.5em;
    }
  }

  &.lg {
    .label {
      font-size: 1.05em;
    }

    .field {
      padding: 1em;
      font-size: 1em;
      padding-right: 2.75em;
      background-size: 1.2em;
      background-position: right 1em center;
    }
  }
}
